/*@font-face {
    font-family: 'Roboto';
    src: url('https://cdn.jsdelivr.net/materialize/0.98.2/fonts/roboto/Roboto-Regular.woff') format('woff');
    font-style: normal;

    
}*/



body{

    background-color: #757575;
}

.cir {
    border-radius: 50%;
    width:120px;
    height:120px;
    display: block;
    margin: 0 auto;
}


.justify{
    text-align: justify;
    text-justify: inter-word;
    font-weight: bold;
    /*padding-left:4em;
    padding-right:3em;*/


}

div>a{

   color:yellowgreen;
    font-size: 20px;
    font-weight: bold;
}

div>a:hover{
    color:#8bc34a;

}



hr{
    border:1px solid #8bc34a;
}

.hleft{
    display: inline-block;
    font-weight: bold;
    color:khaki;
}

.hright{
    display: inline-block;
    color:#8bc34a;
    font-weight: bold;
    /*padding-left: 0.1em*/
}


h3{
    text-align: center;
    color:#8bc34a;
}

.devicon{
    font-size: 3em;
    color:khaki;
    text-align: center;
    /*padding-left: 0em;
    padding-right: 1.2em;*/
}

div>h5{
    font-weight: bold;
    color:khaki;
}

div>h6{
    font-weight: bold;
    color:khaki;
    font-size: 20px;

}

















